<%= link_to "Home ðŸ»", root_path, class: "button button-primary" %>
<%= link_to "Listings", listings_path, class: "button" %>

<span>
<%= link_to "Bought Mugs", orders_bought_path, class: "button" %>
<%= link_to "Sold Mugs", orders_sold_path, class: "button" %>
</span>

<% if user_signed_in? %>
<%= link_to "Logout ðŸ‘‹", destroy_user_session_path, method: :delete, class: "button button-primary" %>
<% else %>
<%= link_to "Sign up", new_user_registration_path, class: "button button-primary" %>
<%= link_to "Login", new_user_session_path, class: "button button-primary" %>
<% end %>